{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Scholarship Post</title>
  <link rel="stylesheet" href="{% static 'admin_page/create-post.css' %}?=v2">
</head>
<body>
  <header class="topbar">
      <div class="header-text">
        <h1>Create Scholarship Post</h1>
        <p>Fill in details and preview instantly</p>
      </div>
      <button class="view-btn" onclick="viewAllPosts()">📋 View All Posts</button>
  </header>

  <main class="container">
    <section class="form-section">
      <input type="hidden" id="editingId" />

      <label>Scholarship Title</label>
      <input type="text" id="title" placeholder="Enter scholarship title" />

      <label>Description</label>
      <textarea id="description" rows="4" placeholder="Enter scholarship description"></textarea>

      <label>Location</label>
      <input type="text" id="location" placeholder="Enter location" />

      <label>Qualifications</label>
      <textarea id="qualifications" rows="4" placeholder="Enter qualifications"></textarea>

      <label>Deadline</label>
      <input type="date" id="deadline" />

      <label>Scholarship Link</label>
      <input type="text" id="scholarshipLink" placeholder="https://example.com" />

      <!-- <button id="createDescriptionBtn" class="desc-btn">📝 Create Description Page</button> -->

      <script>
      document.getElementById("createDescriptionBtn").onclick = () => {
        window.location.href = "/admin-page/create-description/";
      };
      </script>


      <button id="savePostBtn">Create Scholarship</button>
    </section>

    <section class="preview-section">
      <div class="card">
        <div class="card-header">
          <h2 id="preview-title">Your Scholarship Title</h2>
          <span class="badge">Deadline: <span id="preview-deadline">No deadline yet</span></span>
        </div>
        <p id="preview-description">Add a compelling description for your scholarship...</p>

        

        <div class="info">
          <p><strong>📍 Location:</strong> <span id="preview-location">Your City or Country</span></p>
          <p><strong>📄 Qualifications:</strong></p>
          <p id="preview-qualifications">Eligibility criteria will appear here.</p>
        </div>

        <a href="#" target="_blank" id="preview-link" class="link-btn">🔗 Link for Scholarship</a>
      </div>
    </section>
  </main>

  <div id="confirmModal" class="modal-overlay" style="display:none;">
    <div class="modal-box">
      <p id="confirmMessage">Are you sure?</p>

      <div class="modal-actions">
        <button id="confirmNo" class="modal-btn cancel">Cancel</button>
        <button id="confirmYes" class="modal-btn">Confirm</button>
      </div>
    </div>
  </div>

  <div id="toastContainer"></div>

  
  <script src="{% static 'admin_page/create-post2.js' %}?v=15"></script>
</body>
</html>
